@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'plus-jakarta-sans', sans-serif;
  }

html {
    scroll-behavior: smooth;
}


body {
    background-color: #151515;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.gradient-bar {
    position: fixed;
    width: 100%;
    height: 20rem;
}

.top {
    top: 0;
    background: linear-gradient(to bottom, #151515, transparent);
}

header.navbar-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the element horizontally */
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
    z-index: 999;
    background-color: #151515;
    background: linear-gradient(to bottom, #151515, transparent);
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: whitesmoke;
    padding: .5rem 1.5rem;
    transition: all .2s ease-in-out;
}

header.navbar-container .nav-list li a:hover {
    background-color: whitesmoke;
    color: #151515;
}

#about {
    color: whitesmoke;
}

main {
    margin: 10rem 0;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
}

main .landing {
    flex: 5;
    display: flex;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 30vh;
}

main .landing #about {
    flex: 1 1;
}

.title {
    font-size: 3.5rem;
    margin-block: 1rem;
}

main .landing #about p {
    line-height: 1.7rem;
    font-size: 1.2rem;
    margin: 2rem 0;
    text-align: justify;
}

button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #151515;
    color: whitesmoke;
    border: whitesmoke solid 1px;
    font-size: 1.05rem;
    font-weight: 500;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: 0%;
}

main .landing #about button:hover, aside button:hover {
    background-color: whitesmoke;
    color: #151515;
}

main .landing #about button a {
    text-decoration: none;
    color: whitesmoke;
}

main .landing #about button a:hover {
    text-decoration: none;
    color: #151515;
}

main .landing .about-img {
    flex: 1;
    display: flex;
}
   
main .landing .about-img img {
    margin: auto;
    min-width: 250px;
    width: 350px;
    margin-left: 150px;
}

#past-projects {
    background-color: #151515;
    color: whitesmoke;
    text-align: center;
}

aside {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #151515;
    padding: 20px;
    width: 250px;
    border: whitesmoke 1px solid;
    transition: right 0.3s ease-in-out;
}

.collaboration-cta {
    text-align: center;
}

.collaboration-cta img {
    max-width: 50px;
    margin: 5px 0px;
}

.collaboration-cta h3 {
    color: whitesmoke;
}

.collaboration-cta p {
    color: #ccc;
    margin-bottom: 15px;
}

.collaboration-cta form {
    display: flex;
    flex-direction: column;
}

.collaboration-cta label {
    color: whitesmoke;
    margin-bottom: 5px;
}

.collaboration-cta input,
.collaboration-cta textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid whitesmoke;
    border-radius: 0px;
    color: whitesmoke;
    background-color: #151515;
}


footer {
    padding: 20px;
    color: #151515;
    background-color: whitesmoke;
    text-align: center;
    font-weight: bold;
}

#past-project{
    text-align: center;
}

.project {
    display: inline-block;
    margin: 50px 64px; /* Optional: Adds spacing between projects */
    vertical-align: top; /* Optional: Aligns projects at the top */
    transition: transform 0.3s ease;
}

.project p {
    max-width: 400px;

}

.project:hover {
    height: auto; /* Auto height to accommodate the description */
    transform: scale(1.05); 
    transition: transform 0.3s ease;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
        margin: 40px;
    }

    main .landing #about, .landing p {
        text-align: left;
    }

    main .landing .about-img {
        display: none; /* Change the order of the image */
    }

    main .landing .about-img img {
        max-width: 100%;
        margin: 1rem auto;
    }

    main aside {
       display: none;
    }

}

@media screen and (max-width: 768px) {
    main {
        flex-flow: column nowrap;
        margin: 40px;
    }

    .landing p {
        text-align: left;
        font-size: 16px;
    }

    nav ul {
        justify-content: center;
    }

    #past-projects {
        margin-top: 50px;
    }

    .project {
        margin-left: -30px;
    }

    iframe {
        width: 300px;
    }

    main aside {
        align-self: stretch;
    }

    footer {
        font-size: small;
        margin-left: 60px;
    }
}